@import "../StyleVariables.scss";

.container {
    flex-direction: row;
    border-color: $lightGrey;
    padding-bottom: 10px;
    border-bottom: 1px;
    border-color: $lightGrey;
}
.image {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.content {
    margin-left: 10px;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title {
    font-size: $fontSize14px;
    color: $black;
    margin-bottom: $s;
    font-weight: bold;
}

.description {
    font-size: $fontSize12px;
    color: $grey;
    margin-top: 6px;
}

.author {
    font-size: $fontSize12px;
    color: $green;
}

.source {
    font-size: $fontSize12px;
    color: $purple;
}