@import "../StyleVariables.scss";

.container {
  flex: 1;
}

.contentContainer {
  flex: 1;
}

.bottomContainer {
  margin-top: $xxl;
}

.dismissButton {
  position: absolute;
  background-color: $white;
  top: -16;
  left: 10;
  padding: 6px;
}
.dismissIcon {
  width: 24px;
  height: 24px;
}
