@import "../StyleVariables.scss";

.container {
    height: $buttonHeightLarge;
    display: flex;
    border-bottom: 1px;
    border-bottom-color: $lightGrey;
    border-bottom-width: 1px;
    gap: 3px;
}

.inputContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
}

.titleText {
    color: $black;
    font-size: $fontSize12px;
}

.clearButton {
    height: $IconSizeSmall;
    width: $IconSizeSmall;
    background-color: $lightGrey;
    border-radius: calc($IconSizeSmall / 2);
}

.textInput {
    flex: 1;
    height: 100%;
    font-size: $fontSize20px;
}