@import "../../StyleVariables.scss";

.loginPage {
    width:100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: $white;    
}
.container {
    width: 90%;
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: 20px 10px;
    gap: 25px;
}

.message {
    position: absolute;
    top: 40%;
    font-size: $fontSize30px;
    font-weight: 100;
    text-align: center;
    font-weight: bold;
    font-family: 'Helvetica';
    color: $black;
}    

.button {
    height: 44px;
    background-color: $blue;
    border-radius: 8px;
    border-color: $black;
}






