//App Colors
$blue: #0084ff;
$green: #36b7a6;
$grey: #666;
$lightGrey: #d3d3d3;
$white: #fff;
$black: #000;
$purple: #9f6ea7;
$orange: #fa8f6d;
$pageBody: rgba(192, 190, 190, 0.555);
$oddItem: #eee;
$greyBorder: #ccc;
$jetBlack: #333;

//Screen
$screenPadding16px: 16px;

//Font Sizes
$fontSize12px: 12px;
$fontSize14px: 14px;
$fontSize16px: 16px;
$fontSize18px: 18px;
$fontSize20px: 20px;
$fontSize24px: 24px;
$fontSize30px: 30px;
$fontSize40px: 40px;
$fontSize48px: 48px;
$fontSize64px: 64px;

//Icon Sizes
$IconSizeSmall: 14px;
$IconSizeMedium: 16px;
$IconSizeLarge: 18px;

//Button Sizes
$buttonHeightExtraSmall: 24px;
$buttonHeightSmall: 32px;
$buttonHeightMedium: 44px;
$buttonHeightLarge: 56px;

//Space
$s: 2px;
$m: 4px;
$l: 10px;
$xl: 14px;
$xxl: 16px;
$xxxl: 20px;
